@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
    Layout = "_EmailConfirmLayout";
}

<div class="h-screen text-center flex flex-col justify-center items-center">
    <img src="~/img/emailConfirmed.png" class="w-64"/>
    <partial name="_StatusMessage" model="Model.StatusMessage"/>
    <span class="flex items-center text-sm pt-4">Go Back To <a asp-page="/" class="ml-1 text-amber-500">Homepage</a></span>

</div>

