@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
    Layout = "_EmailConfirmLayout";
}


@{
    if (@Model.DisplayConfirmAccountLink)
    {
        <div class="">
            <div class="w-full h-screen flex justify-center items-center flex-col">
                <img src="~/img/confirmEmail.png" class="w-64"/>
                <p class="text-4xl py-4">To complete the register process</p>
                <a id="confirm-link" class="mt-3" href="@Model.EmailConfirmationUrl">
                    <button class="learn-more">
                        <span class="circle pl-2" aria-hidden="true">
                            <span class="icon arrow"></span>
                        </span>
                        <span class="button-text">Confirm Account</span>
                    </button>
                </a>
                
                
            </div>
            
        </div>
    

    }
    else
    {
<p>
        Please check your email to confirm your account.
</p>
    }
}

