
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - QuickBite</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/QuickBite.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body class="mb-0">

<header class='absolute left-0 top-0 z-10 w-full'>
    <nav class="flex items-center justify-between py-3 px-4 sm:px-10 w-full">
        <div class="w-full flex justify-start sm:ml-[150px] md:justify-center">
            <div class="">
                <a href="/" class='flex gap-1 items-center'>
                    <img src="~/icons/qbLogo.svg" alt="quickbite logo" width="100" height="100" class=''/>
                    <div class="hidden sm:flex items-center text-[25px]">
                        <h1 class='font-bold text-white'>Quick</h1>
                        <span class='text-yellow font-bold'>Bite</span>
                    </div>
                </a>
            </div>
        </div>
        <partial name="_LoginPartial" />
    </nav>
</header>

    <div class="">
        <main role="main" >
            @RenderBody()
        </main>
        @*<partial name="ExamplePartial" />*@
    </div>
    @*<footer class="">
        <div class="">
            &copy; 2024 - QuickBite - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>*@
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
