<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - QuickBite Admin</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/QuickBite.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body class="mb-0">
    <header class='absolute left-0 top-0 z-10 w-full bg-gray-800'>
        <nav class="flex items-center justify-between py-3 px-4 sm:px-10 w-full">
            <div class="w-full flex justify-start md:ml-[100px] lg:ml-[150px] md:justify-center">
                <div>
                    <a href="/" class='flex gap-1 items-center'>
                        <img src="~/icons/qbLogo.svg" alt="quickbite logo" width="100" height="100" />
                        <div class="hidden sm:flex items-center text-[25px]">
                            <h1 class='font-bold text-white'>Quick</h1>
                            <span class='text-yellow font-bold'>Bite Admin</span>
                        </div>
                    </a>
                </div>
            </div>
            <div>
                <ul class="nav">
                    <li class="nav-item flex space-x-6">
                        <a class="nav-link text-white hover:text-yellow-300" asp-area="SiteAdmin" asp-controller="Categories" asp-action="Index">Categories</a>
                        <a class="nav-link text-white hover:text-yellow-300" asp-area="SiteAdmin" asp-controller="Restaurants" asp-action="Index">Restaurants</a>
                    </li>
                </ul>
            </div>
            <partial name="_LoginPartial" />
        </nav>
    </header>

    <div class="pt-20">
        <main>
            @RenderBody()
        </main>
    </div>

    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
