@using QuickBite.Controllers
@model IEnumerable<QuickBite.Models.Restaurant>
@{
    ViewData["Title"] = "Dashboard";
    Layout = "_UserLayout";
}

<div class='relative w-full h-full'>
    <p>This is the user dashboard omggg!</p>
    @foreach(var restaurant in Model)
    {
        <div>
            <h1>@restaurant.Name</h1>
            <p>@restaurant.Description</p>
        </div>
    }
</div>