@using QuickBite.Controllers
@{
    ViewData["Title"] = "Dashboard";
    Layout = "_CustomerDashboardLayout";
}

<div class='relative w-full h-full'>
    <p>This is the user dashboard omggg!</p>
</div>