@{
    ViewData["Title"] = "Restaurant Registration";
    Layout = "_Layout";
}

<style>
    .register-form{
        margin-top: 100px;
        margin-left: 100px;
        margin-right: 100px;
        padding: 25px;
        border-radius: 10px;
    }
    
</style>

<section class="bg-white p-1">
    <div class="register-form bg-gray-100 h-screen shadow-md">
        
    </div>
</section>




